<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<a class="brand" href="#">Supershoes</a>
				<ul class="nav">
					<li><%= link_to "Home", :home %></li>
					<li><%= link_to "Stores", :stores %></li>
					<li><%= link_to "Articles", :articles %></li>
					<li><%= link_to "Services", :services %></li>
					<li><%= link_to "Help", :help %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>